$color: #212121;

$primary: #005daf;
$primary-shade: #074c89;

$secondary: #4c35a0;
$secondary-shade: #351f87;

$accent: #81be2a;

$pp-1: #074c89; 
$pp-2: #564887; 
$pp-3: #b85382;
$pp-4: #f05377;
$pp-5: #f0a18c;


$grade-1: #4ec04e;
$grade-2: #a6c34c;
$grade-3: #fec84c;
$grade-4: #f48847;
$grade-5: #eb4841;